/pods/
FirebaseLogin.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
FirebaseLogin.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
FirebaseLogin.xcworkspace/xcuserdata/mavisii.xcuserdatad/UserInterfaceState.xcuserstate
FirebaseLogin.xcworkspace/xcuserdata/mavisii.xcuserdatad/WorkspaceSettings.xcsettings
